﻿{template header}
{if $iframe}
<script type="text/javascript">
	var uc_menu_data = new Array();
	o = document.getElementById('header_menu_menu');
	elems = o.getElementsByTagName('A');
	for(i = 0; i<elems.length; i++) {
		uc_menu_data.push(elems[i].innerHTML);
		uc_menu_data.push(elems[i].href);
	}
	try {
		parent.uc_left_menu(uc_menu_data);
		parent.uc_modify_sid('{$sid}');
	} catch(e) {}
</script>
{/if}
<div class="container">
	<h3>登录信息</h3>
	<ul class="memlist fixwidth">
	  <li>
	  	当前登录用户:&nbsp;&nbsp;$loguser &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:chgPwd()">修改密码</a>
	  </li>
	</ul>
	<h3>{lang home_stats}</h3>
	<ul class="memlist fixwidth">
	  <li><em><!--{if $user['allowadminuser'] || $user['isfounder']}--><a href="admin.php?m=user&a=ls">{lang home_member_count}</a><!--{else}-->{lang home_member_count}<!--{/if}-->:</em>$members
	</li>
	</ul>
<h3>{lang home_env}</h3>
	<ul class="memlist fixwidth">
		<li><em>{lang home_environment}:</em>$serverinfo</li>
		<li><em>{lang home_server_software}:</em>$_SERVER[SERVER_SOFTWARE]</li>
		<li><em>{lang home_database}:</em>$dbversion</li>
		<li><em>{lang home_upload_perm}:</em>$fileupload</li>
		<li><em>{lang home_database_size}:</em>$dbsize</li>		
		<li><em>{lang home_server_ip}:</em>$_SERVER[SERVER_NAME] ($_SERVER[SERVER_ADDR]:$_SERVER[SERVER_PORT])</li>
		<li><em>magic_quote_gpc:</em>$magic_quote_gpc</li>
		<li><em>allow_url_fopen:</em>$allow_url_fopen</li>		
	</ul>
	<h3>{lang home_team}</h3>
	<ul class="memlist fixwidth">
		<li>
			<em>{lang home_dev_copyright}:</em>
			<em class="memcont"><a href="http://www.gridinfo.com.cn/" target="_blank">山东锐杰网格信息技术有限公司</a></em>
		</li>
		
	</ul>
</div>

$ucinfo

<script type="text/javascript">
	mini.parse();
	
	function chgPwd() {
   	 mini.open({
            url: "admin.php?m=frame&a=pwdChg&username=$loguser",
            title: "修改密码", width: 260, height: 280,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new"};
                //iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {
                //grid.reload();
            }
        });
	}
</script>

{template footer}