{template header}
<!--{if $roleName}-->

<div class="mainbox">
	<table class="opt">
    	<tr>
        	<td>角色名:</td>
        	<td>$roleName</td>
        </tr>
	</table>
</div>
<table style="width:100%;height:91%;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:46%;height:100%;" rowspan="2" valign="top">
    	<h3 style="float: left" align="left">已选模块列表</h3>
    	<a class="mini-button" style="float: right" onclick="saveDate()">保存</a>
    	<div id="datagrid1" class="mini-datagrid" style="width:100%;height:93%;margin: auto;"
			url="admin.php?m=ucrole&a=getFunList&roleID=$roleId" idField="App_id" pageSize="50" allowCellEdit="true" allowCellSelect="true" multiSelect="true" >
			<div property="columns">
				<div type="checkcolumn"></div>
				<div field="appName" width="60">
					模块名<!--textbox editor-->
				</div>
				<div field="appAlias" width="80">
					模块别名<!--textbox editor-->
				</div>
				<div headerAlign="center" header="权限" field="roleExtend">
                	<div property="columns">
                    	<div type="checkboxcolumn" field="insert" trueValue="I" falseValue="" width="30">增加</div>
                    	<div type="checkboxcolumn" field="delete" trueValue="D" falseValue="" width="30">删除</div>
                    	<div type="checkboxcolumn" field="update" trueValue="U" falseValue="" width="30">修改</div>
                    	<div type="checkboxcolumn" field="select" trueValue="S" falseValue="" width="30">查看</div>
                    	<div type="checkboxcolumn" field="cross" trueValue="C" falseValue="" width="30">跨校</div>
                	</div>
            	</div>
			</div>
		</div>		
      </td>
    <td style="width:6%;" height="86" align="center" valign="middle">&nbsp;</td>
    <td style="width:46%;" rowspan="2" valign="top">
      <h3 align="left">可选模块列表</h3>
        <div id="datagrid2" class="mini-datagrid" style="width:100%;height:94%;margin: auto;"
			url="admin.php?m=ucrole&a=getOtherFunList&roleID=$roleId" idField="id" pageSize="50" multiSelect="true" >
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="appName" width="60">模块名</div>
			<div field="appAlias" width="80">模块别名</div>
		</div>
      </td>
  </tr>
  <tr>
  	<td align="center" valign="top">
  		<a class="mini-button" iconCls="icon-add" style="text-align:left;" onclick="addFunc()"><<</a>
  		<br /><br />
		<a class="mini-button" iconCls="icon-remove" style="text-align:left;" onclick="removeFunc()">>></a>
  	</td>
  </tr>
</table>

<!--{else}-->
<h3 align="left">选择角色进行编辑</h3>
<!--{/if}-->

<script type="text/javascript">	
    mini.parse();
    var grid1 = mini.get("datagrid1");
    var grid2 = mini.get("datagrid2");
    grid1.load();
    grid2.load();
    
    function saveDate(){
    	var data = grid1.getChanges();
        var json = mini.encode(data);
        grid1.loading("保存中，请稍后......");
        $.ajax({
            url: "admin.php?m=ucrole&a=ajaxSavaData",
            data: { data: json },
            type: "post",
            success: function (text) {
                grid1.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }
    
    function addFunc(){
    	var rows = grid2.getSelecteds();
        if (rows.length > 0) {     
        	var funcs = [];
            for (var i = 0, l = rows.length; i < l; i++) {
                var r = rows[i];
                funcs.push(r.id);
            }
            grid2.loading("操作中，请稍后......");
            $.ajax({
            	url: "admin.php?m=ucrole&a=ajaxAddFunc",
                type: 'POST',
    			data : {
    				roleID : $roleId,
    				func : funcs
    			},
                success: function (text) {
                	grid1.reload();
                    grid2.reload();
                },
                error: function () {
                }
            });
        } else {
            alert("请选中至少一条记录");
        }
    }

    function removeFunc(){
    	var rows = grid1.getSelecteds();
        if (rows.length > 0) {     
        	var funcs = [];
            for (var i = 0, l = rows.length; i < l; i++) {
                var r = rows[i];
                funcs.push(r.id);
            }
            grid1.loading("操作中，请稍后......");
            $.ajax({
            	url: "admin.php?m=ucrole&a=ajaxDelFunc",
                type: 'POST',
    			data : {
    				roleID : $roleId,
    				func : funcs
    			},
                success: function (text) {
                	grid1.reload();
                    grid2.reload();
                },
                error: function () {
                }
            });
        } else {
            alert("请选中至少一条记录");
        }
    }
</script>
{template footer}