{template header}
<style>
td {
	text-align: left;
	padding-left: 10px;
}
</style>
<form id="form1" method="post">
	<div id="editform" class="form">
		<table style="width: 100%;">
			<tr style="height: 40px;">
				<td>身份：</td>
				<td><input name="IdentityName" class="mini-textbox" onvalidation="onCheckIdentity" required="true" /></td>
			</tr>
			<tr style="height: 40px;">
				<td style="text-align: right; padding-top: 5px; padding-right: 20px;" colspan="6">
					<a class="mini-button" href="javascript:onOk()">提交</a>
					<a class="mini-button" href="javascript:onCancel()">取消</a>
				</td>
			</tr>

		</table>
	</div>
</form>
<script type="text/javascript">
	mini.parse();

	var form = new mini.Form("form1");

	function SaveData() {
		var o = form.getData(true);

		form.validate();
		if (form.isValid() == false)
			return;
		//Ajax开始更新的操作
		var json = mini.encode([ o ]);
		$.ajax({
			url : "admin.php?m=identity&a=upIdentityById&identityId=$identityId",
			type: 'POST',
			data : {
				data : json
			},
			cache : false,
			success : function(text) {
				CloseWindow("save");
			},
			error : function(jqXHR, textStatus, errorThrown) {
				alert(jqXHR.responseText);
				CloseWindow();
			}
		});
	}

	function SetData(data) {
		if (data.action == "edit") {
			data = mini.clone(data);
			$.ajax({
				url : "admin.php?m=identity&a=getIdentityByName&identityId="+ data.id,
				cache : false,
				success : function(text) {
					var o = mini.decode(text);
					form.setData(o);
					form.setChanged(false);
				}
			});
		}
	}

	function CloseWindow(action) {
		if (action == "close" && form.isChanged()) {
			if (confirm("数据被修改了，是否先保存？")) {
				return false;
			}
		}
		if (window.CloseOwnerWindow)
			return window.CloseOwnerWindow(action);
		else
			window.close();
	}
	function onOk(e) {
		SaveData();
	}
	function onCancel(e) {
		CloseWindow("cancel");
	}
	
	function onCheckIdentity(e){
		if(e.value != ''){
			$.post('admin.php?m=identity&a=checkIdentityidByName',
				{IdentityName:e.value, time:new Date().getTime()},
				function(data){
					if(data == 0){
						alert('你输入的身份已经存在，请重新输入！');
					}
				});
		}
	}
	
</script>
</body>
</html>


