{template header}
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="js/zTree/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="js/jquery.ztree.core-3.5.js"></script>

<script language="javascript" type="text/javascript">
var userAgent = navigator.userAgent.toLowerCase();
var is_opera = userAgent.indexOf('opera') != -1 && opera.version();
var is_moz = (navigator.product == 'Gecko') && userAgent.substr(userAgent.indexOf('firefox') + 8, 3);
var is_ie = (userAgent.indexOf('msie') != -1 && !is_opera) && userAgent.substr(userAgent.indexOf('msie') + 5, 3);
function checkall(name) {
	var e = is_ie ? event : checkall.caller.arguments[0];
	obj = is_ie ? e.srcElement : e.target;
	var arr = document.getElementsByName(name);
	var k = arr.length;
	for(var i=0; i<k; i++) {
		arr[i].checked = obj.checked;
	}
}
</script>



	<SCRIPT type="text/javascript">
		<!--
			var tree_setting = {
				view: {
					selectedMulti: false
				},
				async: {
					enable: true,
					url:"admin.php?m=specialty&a=ClassTreeNav",
					autoParam:["id", "title=n", "deepL=lv","schoolid=scid","xxid=gScid"],
					dataFilter: filter
				},
				callback: {
					beforeClick: beforeClick,
					beforeAsync: beforeAsync,
					onAsyncError: onAsyncError,
					onAsyncSuccess: onAsyncSuccess
				},
				data: {
					key: {
						name: "title"
					}
				}
			};

			function filter(treeId, parentNode, childNodes) {
				if (!childNodes) return null;
				for (var i=0, l=childNodes.length; i<l; i++) {
					childNodes[i].title = childNodes[i].title.replace(/\.n/g, '.');
				}
				return childNodes;
			}
			function beforeClick(treeId, treeNode) {
				if (!treeNode.isParent || treeNode.deepL=="school") {
					if(treeNode.id<1){
						return false;
					}

					var url ="";

					if (treeNode.deepL=="school") {
						url = "admin.php?m=specialty&a=TreeNav&schoolid="+treeNode.schoolid+"&schoolName="+treeNode.title;
					}else{
						url = "admin.php?m=specialty&a=TreeNav&academyId="+treeNode.id+"&academyName="+treeNode.title+"&xxid="+treeNode.xxid;
					}

					form = document.getElementById('class_form');
					form.action = url;
					form.submit();
					return true;

				} else {

					return false;
				}
			}

			function allPrpos(obj) {
				// 用来保存所有的属性名称和值
				var props = "";
				// 开始遍历
				for(var p in obj){
					// 方法
					if(typeof(obj[p])=="function"){
						//obj[p]();
					}else{
						// p 为属性名称，obj[p]为对应属性的值
						props += p + "=" + obj[p] + ";  ";
					}
				}
				// 最后显示所有的属性
				alert(props);
			}

			var log, academyName = "dark";
			function beforeAsync(treeId, treeNode) {
				academyName = (academyName === "dark" ? "":"dark");
				return true;
			}
			function onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {

			}
			function onAsyncSuccess(event, treeId, treeNode, msg) {

			}

			function refreshNode(e) {
				var zTree = $.fn.zTree.getZTreeObj("class_tree"),
				type = e.data.type,
				silent = e.data.silent,
				nodes = zTree.getSelectedNodes();
				if (nodes.length == 0) {
					alert("请先选择一个父节点");
				}
				for (var i=0, l=nodes.length; i<l; i++) {
					zTree.reAsyncChildNodes(nodes[i], type, silent);
					if (!silent) zTree.selectNode(nodes[i]);
				}
			}

			function switchbtn(btn) {
				var ids = Array('srchdept','adddepttype');
				for(i=0;i<ids.length;i++){
					document.getElementById(ids[i]+'div').style.display = 'none';
					document.getElementById(ids[i]+'div').className = '' ;
					document.getElementById(ids[i]+'btn').className = '';
				}
				document.getElementById(btn+'div').style.display = '';
				document.getElementById(btn+'div').className = 'tabcontentcur' ;
				document.getElementById(btn+'btn').className = 'tabcurrent';
			}

			//部门类型添加提交验证
			function checktypeform(form){
				if(form.typename.value==''){
					alert('请输入类型名称,类型名称不能为空！');
					return false;
				}
				form.submit();
				form.typename.value='';
				return false;
			}

			$(document).ready(function(){
				$.fn.zTree.init($("#class_tree"), tree_setting);
				$("#refreshNode").bind("click", {type:"refresh", silent:false}, refreshNode);
				$("#refreshNodeSilent").bind("click", {type:"refresh", silent:true}, refreshNode);
				$("#addNode").bind("click", {type:"add", silent:false}, refreshNode);
				$("#addNodeSilent").bind("click", {type:"add", silent:true}, refreshNode);
			});
		//-->
    </SCRIPT>
	<div class="container">

        <div class="mainbox">
            <form id="class_form" action="#" method="post" target="class_main">
            </form>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td width="250" valign="top">
                    <div class="structmenu" style="width:250px">
                        <ul class="tabmenu">
                            <li class="tabcurrent"><a href="javascript:;">{lang dept_struct}</a></li>
                        </ul>
                        <div class="structcontentcur">
                                <ul id="class_tree" class="ztree"></ul>
                        </div>
                    </div>
                </td>
                <td width="5"></td>
                <td valign="top">
                    <iframe id="class_main" name="class_main" width="99%" height="560" src="admin.php?m=specialty&a=Init" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="yes"></iframe>
                </td>
              </tr>
            </table>
        </div>
	</div>


{template footer}