{template header} <!--Layout-->
<div id="layout1" class="mini-layout" style="width:100%;height:100%;text-align:left;">
	<div style="width:100%;height:30px;padding:5px 0px;clear:both;border:0px;background:none;">
		<!--Splitter-->
		<div class="mini-splitter" style="width:100%;height:100%;" borderStyle="border:0;">
			<div showCollapseButton="false" style="border:0px;" size="250" >
				<div style="width:100%;height:30px;padding:5px 0px;clear:both;border:0px;background:none;">
				    <div style="width:50%;float:left;text-align:left;">
				    	<a class="mini-button" iconCls="icon-add" style="text-align:center;" onclick="newRow()">增加</a>
				    	<!--{if $schoolid == -1}-->
				        <!--<a class="mini-button" iconCls="icon-remove" style="text-align:center;" onclick="delRow()">删除</a>-->
				    	<!--{/if}-->
				    </div>
				</div>
				<!--Layout-->
				<div id="datagrid1" class="mini-datagrid" style="width:100%;height:92%;"
				url="admin.php?m=identity&a=getidentityList" idField="uid" onselectionchanged="onSelectionChanged" pageSize="50" multiSelect="true" >
					<div property="columns">
						<div type="checkcolumn"></div>
						<div field="IdentityName" headerAlign="center" width="80" allowSort="true">身份</div>
						<div name="action" width="80" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;">编辑</div>
					</div>
				</div>
			</div>
			<div showCollapseButton="false" style="border:0px;" size="500">
				<!--Edit-->
				<div id="editPage" class="mini-tabs bg-toolbar" activeIndex="0" style="width:100%;height:100%;">
					<div title="身份角色" url="admin.php?m=identity&a=editIdentityRole" ></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load();
    
    function onSelectionChanged(e) {  
        var grid = e.sender;
        var record = grid.getSelected();
        showTab(record);
    }
	
	function search() {
        var key = mini.get("key").getValue();
        grid.load({ key: key });
    }
    function onKeyEnter(e) {
        search();
    }
   
    function newRow() {
    	mini.open({
            url: "admin.php?m=identity&a=identityAdd",
            title: "添加身份信息", width: 280, height: 125,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new"};
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {
                grid.reload();
            }
        });
	}
    
    function editRow(row_uid) {
   	 var row = grid.getSelected();
        if (row) {
            mini.open({
                url: "admin.php?m=identity&a=identityAdd&identityId="+row.IdentityID,
                title: "编辑身份信息", width: 280, height: 125,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", id: row.IdentityID };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    grid.reload();
                }
            });
        } else {
            alert("请选中一条记录");
        }
   }
    
    function onActionRenderer(e) {
        var grid = e.sender;
        var record = e.record;
        var uid = record._uid;
        var rowIndex = e.rowIndex;

        var s = '<a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')">修改</a>'
        return s;
    }
    
    function showTab(record) {
        var tabs = mini.get("editPage");
        var id = "tab$" + record.IdentityID;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab.name = id;
            tab.title = record.IdentityName;
            tab.showCloseButton = true;
            tab.url = "admin.php?m=identity&a=editIdentityRole&identityId="+record.IdentityID;
            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }
   
    function cancelRow() {
        grid.reload();
        editWindow.hide();
    }
    
    function delRow(row_uid) {
    	var rows = grid.getSelecteds();
        if (rows.length > 0) {
            if (confirm("确定要删除选中记录吗？")) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.IdentityID);
                }
                var id = ids.join(',');
                grid.loading("操作中，请稍后......");
                $.ajax({
                	url: "admin.php?m=identity&a=delIdentity",
                	type: 'POST',
    				data : {
    					identityid : id
    				},
                    success: function (text) {
                        grid.reload();
                    },
                    error: function () {
                    }
                });
            }
        } else {
            alert("请选中一条记录");
        }
    }

</script>

{template footer}

