{template header} 
<script src="js/CommonLibs/EditForm.js" type="text/javascript"></script>
<div style="width:100%;height:30px;padding:5px 0px;clear:both;border:0px;background:none;">
    <div style="width:50%;float:left;text-align:right;">
		<input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>   
        <a class="mini-button" onclick="search()">查询</a>
        <a class="mini-button" onclick="showAll()">显示全部</a>
	</div>            
</div>
<!--Layout-->
<div id="datagrid1" class="mini-datagrid" style="width:100%;height:92%;"
url="admin.php?m=teacher&a=getTeacherList&schoolid=$data[schoolid]&deptIdNull=$data[deptIdNull]" idField="identityid" pageSize="50" multiSelect="true" >
	<div property="columns">
		<div type="checkcolumn"></div>
		<div field="zgh" width="80" headerAlign="center">职工号</div>
		<div field="xm" width="80" headerAlign="center">姓名</div>
		<div field="xb" width="40" headerAlign="center">性别</div>
		<div field="sfzjh" width="120" headerAlign="center">身份证号</div>
		<div field="csrq" width="80" dateFormat="yyyyMM-dd" headerAlign="center">出生日期</div>
		<div field="zw" width="80" headerAlign="center">职务</div>
		<div field="zc" width="80" headerAlign="center">职称</div>
		<div field="bmmc" width="160" headerAlign="center">部门名称</div>
		<div name="action" width="60" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;">编辑</div>
	</div>
</div>

<script type="text/javascript">
	
    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load();
    
	function search() {
        var key = mini.get("key").getValue();
        grid.load({ key: key });
    }
	function showAll(){
		grid.load();
	}
    function onKeyEnter(e) {
        search();
    }
    function onActionRenderer(e) {
        var grid = e.sender;
        var record = e.record;
        var uid = record._uid;
        var rowIndex = e.rowIndex;

        var s = '<a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')">修改</a>'
        return s;
    }


    function newRow() {            
    	 mini.open({
             url: "admin.php?m=teacher&a=TeacherAdd&depid=$data[depid]",
             title: "添加老师信息", width: 785, height: 265,
             onload: function () {
                 var iframe = this.getIFrameEl();
                 var data = { action: "new"};
                 iframe.contentWindow.SetData(data);
             },
             ondestroy: function (action) {

                 grid.reload();
             }
         });
	}
    
    function editRow(row_uid) {
    	
    	 var row = grid.getSelected();
         if (row) {
             mini.open({
                 //url: "admin.php?m=teacher&a=getTeacher_by_identityid&schoolid=$data[schoolid]&deptid=$data[depid]&identityid=" + row.identityid,
                 url: "admin.php?m=teacher&a=TeacherAdd&schoolid=$data[schoolid]&identityid="+row.identityid,
                 title: "编辑老师信息", width: 785, height: 265,
                 onload: function () {
                     var iframe = this.getIFrameEl();
                     var data = { action: "edit", id: row.id };
                     iframe.contentWindow.SetData(data);
                     
                 },
                 ondestroy: function (action) {
                     grid.reload();
                     
                 }
             });
             
         } else {
             alert("请选中一条记录");
         }
         
    	
    	
        var row = grid.getRowByUID(row_uid);
        if (row) {
           
            var form = new mini.Form("#editform");
            form.clear();
            form.loading();
            $.ajax({
                url: "admin.php?m=teacher&a=getTeacher_by_identityid&schoolid=$data[schoolid]&deptid=$data[depid]&identityid=" + row.identityid,
                success: function (text) {
                    form.unmask();
					var o = mini.decode(text);
                    form.setData(o);
                    editWindow.show();                    
                },
                error: function () {
                    alert("表单加载错误");
                    form.unmask();
                }
            });

        }
    }
   
    function cancelRow() {
        grid.reload();
        editWindow.hide();
    }
    function delRow(row_uid) {
    	var rows = grid.getSelecteds();
        if (rows.length > 0) {
            if (confirm("确定删除选中记录？")) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.identityid);
                }
                var id = ids.join(',');
                grid.loading("操作中，请稍后......");
                $.ajax({
                	url: "admin.php?m=teacher&a=delTeacher",
                	type: 'POST',
    				data : {
    					identityid : id
    				},
                    success: function (text) {
                        grid.reload();
                    },
                    error: function () {
                    }
                });
            }
        } else {
            alert("请选中一条记录");
        }
    }
    function doUpload(){
    	mini.open({
    		url: "admin.php?m=teacher&a=loadExcel&schoolid=$data[schoolid]",
    		title: "导入Excel", width: 800, height: 300,
    		 ondestroy: function (action) {
                 grid.reload();                    
             }
    	});
    }
</script>
{template footer}

