{template header}
<script type="text/javascript">
function $(id) {
	return document.getElementById(id);
}
</script>

<div class="container" style=" margin:auto; padding:0;padding-top:20px; width:1156px; background:url(images/loginbg.jpg) no-repeat;height:600px;">
	<!-- <form action="admin.php?m=user&a=login" method="post" id="loginform" {if $iframe}target="_self"{else}target="_top"{/if}> -->
	<form action="admin.php?m=user&a=login" method="post" id="loginform" target="_self">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="seccodehidden" value="$seccodeinit" />
		<input type="hidden" name="iframe" value="{$iframe}" />
		<table class="mainbox">
			<tr>
				<!--<td class="loginbox">
					<h1>UCenter</h1>
					<p>{lang login_tips}</p>
				</td>-->
                <td width="300"> &nbsp;</td>
				<td class="login">
					<!--{if $errorcode == UC_LOGIN_ERROR_FOUNDER_PW}--><div class="errormsg loginmsg"><p>{lang login_founder_incorrect}</p></div>
					<!--{elseif $errorcode == UC_LOGIN_ERROR_ADMIN_PW}--><div class="errormsg loginmsg"><p>{lang login_incorrect}</p></div>
					<!--{elseif $errorcode == UC_LOGIN_ERROR_ADMIN_NOT_EXISTS}--><div class="errormsg loginmsg"><p>{lang login_admin_noexists}</p></div>
					<!--{elseif $errorcode == UC_LOGIN_ERROR_SECCODE}--><div class="errormsg loginmsg"><p>{lang login_seccode_error}</p></div>
					<!--{elseif $errorcode == UC_LOGIN_ERROR_FAILEDLOGIN}--><div class="errormsg loginmsg"><p>{lang login_failedlogin}</p></div>
					<!--{/if}-->
					<p style="text-align:left;"><input type="radio" name="isfounder" value="0" class="radio" checked="checked" onclick="$('username').value=''; $('username').readOnly = false; $('username').disabled = false; $('username').focus();" id="admin" /><label for="admin">{lang admin_admin}</label></p>
					<p id="usernamediv">{lang login_username}:<input type="text" name="username" class="txt" tabindex="1" id="username" value="$username" /></p>
					<p>{lang login_password}:<input type="password" name="password" class="txt" tabindex="2" id="password" value="$password" /></p>
					<p>{lang login_seccode}:<input type="text" name="seccode" class="txt" tabindex="2" id="seccode" value="" style="margin-right:5px;width:85px;" /><img width="70" height="21" src="admin.php?m=seccode&seccodeauth=$seccodeinit&{eval echo rand();}" /></p>
					<p class="loginbtn"><input type="submit" name="submit" value="{lang login_submit}" class="btn" tabindex="3" /></p>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
	$('username').readOnly = false;
	$('username').readOnly = false;
	$('username').focus();
</script>
<div class="footer">Powered by Ruijie-Grid {UC_SERVER_VERSION} &copy; 2001 - 2011 <a href="http://www.ruijie-grid.com/" target="_blank">Ruijie</a> Inc.</div>
{template footer}