@charset "utf-8";
@CHARSET "UTF-8";

/*微广播回复框*/
.box_comment{padding:10px;background-color: #F3F5F8;_width:96.5%;}
.box_comment .massage_comment{padding:0}
.box_comment .massage_comment dt{font-size:14px;font-weight:bold;float:none}
.box_comment .massage_comment dd{padding:10px 0 0 0;float:none}
.box_comment .massage_comment dd .ck{margin:-3px 3px 0 0;vertical-align:middle}
.box_comment .massage_comment dd span{line-height:23px}
.box_comment .massage_comment dd a.faceicon1:link, a.faceicon1:visited{margin:3px 3px 0 0;background-position:5px 0}
.box_comment .massage_comment dd .N_but{ padding:4px 10px;}
/* 微广播回复框 - 未登录状态 */
.box_comment .comment_no_login{background-color:#FFFFFF;}

/*回复内容*/
.feed_list .feed_wb{margin:7px 0px 10px 5px;position:relative;width:460px;float:right}
.new_position{padding:6px 0 10px}
a.faceicon1:link, a.faceicon1:visited{display:block;float:left;height:17px;margin-right:4px;margin-top:4px;width:27px;background-position:0 0}
.new_position textarea  {margin-right:5px;width:310px;}
.position_list{border-top: 1px dashed #d8d8d8;float:left;width:100%;padding-top:10px}
.position_list .pic{float:left;margin-right:5px}
.position_list .list_c{ margin:0;color:#707070;margin-left:45px}
.feedBox{overflow:hidden;*zoom:1}
.feed_msg_new,a.feed_msg_new{height:22px;margin-top:4px;color:#BB861C;display:block;text-align:center;padding-top:5px}
.feed_list{margin:0;}
.feed_list input{margin:1px 0 0 0;_margin:0}
.feedBox .feed_list{margin:0}
.feed_list li {overflow:hidden;padding:10px;*zoom:1}
.feed_list li.t{background-color:#fbfbfb;padding:5px 0;margin:5px 0;*padding:2px 0;}
.feed_list .ck{margin:0 5px 0 0;padding:0;vertical-align:middle}
.feed_list .feed_dpm{border:#ddd solid 2px}
.feed_list .current{border:#0281CF solid 2px}
.right_box .userPic img{border:solid 1px #ccc;padding:1px}
.feed_list li .feed_c{margin-left:70px} 
.feed_list li .feed_c img{vertical-align:top}
.feed_list li .feed_c .msgCnt{padding-bottom:6px;word-wrap: break-word;font-size:14px;line-height:23px}
.feed_list li .feed_c .msgCnt em{color:#999}
.feed_list li .feed_c .hover,.feed_list li .feed_massage .hover{float:right;margin:0 0 0 5px;display:none}
.feed_list li .feed_c:hover .hover,.feed_list li .feed_massage:hover .hover{float:right;display:block}

.feed_list li .feed_c .username{vertical-align:top}

.feed_list li .feed_c h4{display:inline;vertical-align:middle}
.feed_list li .feed_massage{padding: 10px;border: 1px solid rgb(221, 221, 221);border-radius: 3px 3px 3px 3px;margin-left: 70px;line-height:20px}
.feed_list li .feed_massage .line_massage{padding:5px 0}
.feed_list li .feed_massage .date{color:#999}
.feed_list .my_reply .userPic{float:right}
.feed_list .my_reply .arr_left{float:right;margin:10px 9px 0 0;background-position:-9px -14px}
.feed_list .my_reply .feed_massage{margin-right:70px;background-color:#eee}
.feed_list .reply .feed_massage{margin-right:70px}
.feed_list .reply .arr_left{float:left;margin:10px 0 0 9px}
.feed_list .send_msg,.feed_list .my_reply,.feed_list .reply{}
.feed_list .send_msg .feed_massage{margin-right:70px;padding:0;border:none 0}
.feed_list .send_msg .userPic{float:right}
.feed_list .send_msg .arr_left{position:absolute;right:63px;top:20px;background-position:-9px 0}
.feed_showPic{background-color:#F6F6F6;border-radius:3px;padding:0 10px 10px}
.feed_showPic_small img{border:#ccc solid 1px;padding:1px}

.feed_c_btm .right{color:#999}
.feed_c_btm{padding-top:10px;position:relative}
.feed_c_btm a:link,.feed_c_btm a:visited{color:#333}
.feed_list .feed_quote{margin:7px 5px 10px 0;position:relative;*z-index:9}
.feed_quote a:hover{text-decoration:none;}
.feed_list .feed_quote .q_ico_arrow{background-position: -80px -4px;height:10px;width:19px;left:53px;overflow:hidden;position:absolute;top:-9px}
.feed_list .feed_quote .q_ico_arrow2{background-position: -103px -4px;height:8px;width:15px;right:10px;overflow:hidden;position:absolute;top:-7px}
.feed_list .feed_quote .q_tit{_height:none;height: 5px;background-position:right 0;overflow:hidden;display:none}
.feed_list .feed_quote .q_tit_l{height: 5px;background-position:left 0;float:left}

.feed_list .feed_quote .q_btm{_margin-right:3px;_margin-left:3px;height: 5px;background-position: right -7px;overflow:hidden;display:none}
.feed_list .feed_quote .q_btm .q_btm_l{height: 5px;background-position: 0 -7px;float:left}
.feed_list .feed_quote .q_con{line-height:1.7em;overflow:hidden;*zoom:1;padding:12px;border:solid 1px;border-color:#e4e4e4 #e4e4e4 #e4e4e4 #e4e4e4;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background-color: #fbfbfb}
.feed_list .feed_quote .q_con1{line-height:1.7em;overflow:hidden;*zoom:1;padding:0px 10px 5px 10px;border:solid 1px;border-color:#F6F6F6 #F6F6F6 #F6F6F6 #F6F6F6;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background-color: #fbfbfb}
.feed_list .feed_quote .q_con .feed_quote .q_con{line-height:1.7em;overflow:hidden;*zoom:1;border:none 0}
.feed_list .feed_quote .q_con .feed_quote .q_ico_arrow{background:none}
.feed_list .feed_quote .q_con .comment{display:block;padding:5px 0 0 0}
.feed_list .feed_quote .q_con .comment span{}
.feed_list .feed_quote .q_con .comment .vline,.feed_c_btm .vline,.feed_list .vline{margin:0 5px;color:#999;font-style:normal}
.feed_list .feed_quote .q_con .comment a:link,.feed_list .feed_quote .q_con .comment a:visited{color:#6D84B4}
.feed_list .hover .del{visibility:hidden;_visibility:visible}
.feed_list .hover:hover .del{visibility:visible}
.screen_detail{
	margin-top:15px;padding:10px;

}
.screen_info{
    font-size: 17px;
    font-weight: bold;
}
.screen_time{
	margin-top:10px;
	font-size: 14px;
}
.screen_info_d{
	margin-top:0px;
	font-size: 13px;
	line-height:30px;
}

  .recommend_left ul,li {margin:0;padding:0;list-style:none}
       .recommend_left #menu li {text-align:center;padding:5px;
                     width:50px;cursor:pointer}
          .recommend_left #menu li.tabFocus {width:50px; font-weight:bold;
                           background-color:#f3f2e7;border:solid 1px #666;
                           border-bottom:0;z-index:100;position:relative}
           #content {width:460px;height:180px;padding:10px;
                     background-color:#f3f2e7;top:100px;
                     border:solid 1px #666;position:relative;top:-1px}
           #content li{display:none}
           #content li.conFocus{display:block}
    
    
/*个人专辑列表*/
.usercate_left { font-family:宋体; font-size:12px; color:#5d5d5d; float: left; width:197px; padding-bottom:10px; background:#ededed; border-bottom: #d9d9d9 3px solid;}
.usercate_left .vuserimg{ background: url("../images/usercate_sex_1.gif") no-repeat top center;}
.usercate_left .vuserimg.u0{ background: url("../images/usercate_sex_0.gif") no-repeat top center;}
.usercate_left .vuserimg .uname{ font-size:12px; font-weight:bold; height:47px; line-height:60px; text-align: left;padding-left: 18px;}
.usercate_left .vuserimg img{ border:#bdbdbd 1px solid;padding: 3px; background: #fff;}
.usercate_left .ucateinfo{padding-top:20px;background: url("../images/bg_ucatelist.gif") no-repeat top center;}
.usercate_left .ucateinfo li,.usercate_left .ucatelist li{ line-height: 30px; height: 30px; margin:0 18px; padding-left:5px;background: url("../images/bg_ottom.gif") repeat-x bottom left;}
.usercate_left .ucatelist{margin-top:5px;padding-top:35px;background: url("../images/usercate_im.gif") no-repeat top left; position: relative;}
.usercate_left .ucatelist .operate{ display:none; position:absolute; top:0px; right:0px;}
.usercate_left .ucatelist li {position: relative;}
.usercate_left .ucatelist li span {display:none; position: absolute; top:5px; right:10px; padding:5px; cursor: pointer; background: #fff;}
.usercate_left .ucatelist li a{display:block; }
.usercate_left .ucatelist .hover{color:#4582c5; background: url("../images/ico_right.gif") no-repeat right center;}
.usercate_left .ucatelist .hover a{color:#4582c5;}

    
    
.usercate_right { float: right; width:739px; font-family:宋体; font-size:12px;  color:#333;}
.usercate_right .livevideo,.usercate_right .newtopline,.usercate_right .lv_main,.usercate_right .lvm_ul{width:739px;}
.usercate_right .liveintro_left{line-height: 25px;}
.usercate_right .lvm_top .left{line-height: 30px; padding-right:10px;}
.usercate_right .List_ {width: 163px; margin:0; margin-right:27px; position: relative;margin-top:15px;}
.usercate_right .List_ .video_img{ height:100px;width: 163px;border:0px;}
.usercate_right .List_ .video_img img{ width: 163px; height:100px;}
.usercate_right .List_.last{ margin-right:0px;}
.usercate_right .List_ .operate{ display:none; position: absolute; right:0px; bottom:0px; width: 30px; height: 80px; background: #fff;}
.usercate_right .List_ .operate .edit-ico{ display:block; background: #ccc; padding:10px;}
.usercate_right .List_ .operate .del-ico{display:block; background: #ccc;padding:10px; cursor: pointer; margin-top:20px;}


/*.usercate_right .List_ .video_other{margin-top: 10px;}*/
    
.info{ padding-left:10px;}
.info span{ height: 20px; display: inline-block; padding:0 5px 0 0px;line-height:20px;}
.info .readCount{ background: url("../images/ico_c.png") no-repeat 0 3px;; }
.info .reply{ background: url("../images/ico_r.png") no-repeat 0 3px; }


    
.searchs .right_list ul{ font-family:宋体; font-size:12px; float:left;width: 163px;height: auto; overflow:hidden;margin:0px; margin-right: 18px;}
.searchs .right_list ul li{margin-bottom:7px;color:#999; width: auto;}
    
.searchs .right_list ul li.img{
	width: 163px;
}
.searchs .right_list ul li.img img{
	width: 163px; height: 100px;
}

.searchs .right_list ul{background: #ededed;}
.searchs .right_list ul li.title a{ color:#333; text-decoration: none; margin-left:10px;}
.searchs .right_list ul li.info{ padding-left:10px; margin:0px;}
.searchs .right_list ul li.info span{ width: 50px; height: 20px; display: inline-block; padding-left:20px;}
.searchs .right_list ul li.info .readCount{ background: url("../images/ico_c.png") no-repeat; }
.searchs .right_list ul li.info .reply{ background: url("../images/ico_r.png") no-repeat; }

.add_atn{width:65px;height:22px;background:url(../images/gzbk.jpg) no-repeat;line-height:22px;text-align:center;color:white;}
.vusername a{color:white;}
.oper-ico img{margin-bottom:-5px;margin-right:5px;}
.useroper{padding-left:15px;float:left;padding-top:2px;}
.useroper a{font-size:12px;font-weight:normal;color:#666666;float:left;}






    