@charset "utf-8";
/**
 +------------------------------------------------------------------------------
 * CSS Table Document
 +------------------------------------------------------------------------------
 * @author		小波 <xiaobosun@gridinfo.com.cn>
 * @version		1.0
 +------------------------------------------------------------------------------
 * 创建时间：	2013-5-13 10:01:58
 +------------------------------------------------------------------------------
 */

.toolbar { padding:5px 0; line-height:26px; }

.table_list { width:100%; border-left:solid 1px #CCCCCC; border-top:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC; }
.table_list th, .table_list td { border-right:solid 1px #CCCCCC; line-height:20px; padding:5px; text-align:center; }
.table_list th { color:#333333; border-bottom:solid 1px #CCCCCC; background:#F0F0F0; }
.table_list td { color:#666666; border-bottom:dashed 1px #CCCCCC; }
.table_list td a { color:#666666; }

.checkAll b { display:inline-block; font-weight:normal; padding-left:15px; background:url(../images/form/check.gif) no-repeat 0 -29px; }
.checkNone b { display:inline-block; font-weight:normal; padding-left:15px; background:url(../images/form/check.gif) no-repeat 0 1px; }
